.titulo-about-me {
  color: rgb(243, 136, 94);
  text-align: center;
  padding-top: 11%;
  font-size: 20px;
}

.imagen-about-me {
  width: 50%;
  border-radius: 10%;
} 

.caja-about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2% 0% 2% 0%;
}

.text-about-me {
  color: #8D99AE;
}

.div-button-download-CV {
  text-align: center;
  padding: 5% 0% 5% 0%;
}

.button-descargar-cv {
  text-align: center;
  font-size: 16px;
  background-color: #2B2D42;
  color: rgb(243, 136, 94);
  font-weight: 700;
  border: solid 2px rgb(243, 136, 94);;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button-descargar-cv:hover {
  background-color: #ef233c;
  color: #8D99AE;;
  border-color: #8D99AE;
  
}


@media (min-width: 426px) {
  .titulo-about-me {
    padding-top: 9%;
  }
}  

@media (min-width: 553px) {
 .imagen-about-me {
    width: 230px;
 } 
} 

@media (min-width: 680px) {
  .titulo-about-me {
    padding-top: 7%;
    font-size: 24px;
  }

  .text-about-me {
    font-size: 18px;
  }
  .button-descargar-cv {
    font-size: 18px;
  }
} 

@media (min-width: 1024px) {
  .titulo-about-me {
    padding-top: 4.5%;
  }
} 
