.titulo-projects {
    color: rgb(243, 136, 94);
    padding-top: 11%;
    text-align: center;
} 

.caja-madre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2% 0% 2% 0%;
}

.caja-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2% 0% 4% 0%;
}

.div-text-project {
  width: 310px;
  text-align: left;
}

.text-projects {
  color: #8D99AE;
  padding-bottom: 4%;
}

.image-project {
  width: 310px;
  margin-left: 0.1%;
  border: solid 1px white;
}

.box-projects {
  text-align: center;
}

.div-button-ver-proyecto {
  width: 150px;
  margin: auto;
  padding: 1.5% 0% 1.5% 0%;
}

.button-ver-proyecto {
  text-align: center;
  background-color: #2B2D42;
  color: rgb(243, 136, 94);
  /* font-size: 18px; */
  font-weight: 700;
  border: solid 2px rgb(243, 136, 94);
  padding: 5px;
  border-radius: 5px;
}

.button-ver-proyecto:hover {
  background-color: #ef233c;
  color: #8D99AE;;
  border-color: #8D99AE;;
}

.box-projects .image-project:hover {
  box-shadow: 4px 4px 8px white;
 }
 

@media (min-width: 426px) {
  .titulo-projects {
    padding-top: 9%;
  } 

  .image-project {
    width: 400px;
    margin-left: 0.1%;
  }

  .div-text-project {
    width: 400px;
    text-align: left;
  }
}

@media (min-width: 664px) {
  .titulo-projects {
    padding-top: 7%;
  }

  .image-project {
    width: 600px;
    margin-left: 0.1%;
  }

  .div-text-project {
    width: 600px;
    text-align: left;
  }

  .div-button-ver-proyecto {
    width: 180px;
  }
}

@media (min-width: 1024px) {
  .titulo-projects {
    padding-top: 4.5%;
  }

  .image-project {
    width: 1000px;
    margin-left: 0.1%;
  }

  .div-text-project {
    width: 1000px;
    text-align: left;
  }

  .div-button-ver-proyecto {
    width: 210px;
  }
} 